<h1>Sign Up for BlogPulse</h1>

<form action="/authors" method="POST">
    <label for="name">Name: </label>
    <input type="text" name='name' placeholder='Please Enter Your Name Here'>
    <button type="submit" value='Sign UP'>SUBMIT</button>
</form>

<hr/>
<br><br>
<a href="/authors">Back to AUTHORS List</a>